<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://weather-station-fa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/96823569-2833-435d-8126-bdf1e52cc3eb/resourceGroups/weather-iot/providers/Microsoft.Web/sites/weather-station-fa</ResourceId>
    <UserName>$weather-station-fa</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://weather-station-fa.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>